@import "variables";

// typography
@mixin font_hero {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  background: $gradient_red_text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@mixin font_hero_color($color) {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: $color;
}

@mixin h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: $color_main;
}

@mixin h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: $color_main;
}

@mixin caps {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: $color_main;
}

@mixin h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: $color_main;
}

@mixin paragraph {
  font-size: 16px;
  line-height: 26px;
  color: $color_black;
}

@mixin list {
  font-size: 18px;
  line-height: 26px;
  color: $color_black;
}

@mixin link($color) {
  font-size: 16px;
  line-height: 20px;
  color: $color;
}

@mixin border-separator{
  border: 4px solid $color_grey_separator;
}

// pseudoelement dot
@mixin spot {
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background-color: $color_grey_separator;
  border-radius: 50%;
  margin: 0 6px;
}

// aligning
@mixin center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// buttons

@mixin blue-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $color_white;
  padding: 18px 30px;
  border-radius: 12px;
  background: $color_active_regular;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  transition: all 0.4s;

  &:hover {
    background: $color_active_hover;
    color: $color_white;
  }
  &:active {
    background: $color_active_active;
  }
}
@mixin grey-btn {
  font-weight: 700;
  @include link($color_main);
  text-align: center;
  padding: 8px 30px;
  border-radius: 10px;
  transition: all 0.4s;

  &:hover {
    background: $color_grey_bg;
  }
}

@mixin card-block {
  background: $color_white;
  overflow: hidden;
  border-radius: 8px;

  &__title {
    @include h4;
    color: $color_active_regular;
    padding-top: 30px;
    margin-bottom: 15px;
  }

  &__wrapper {
    margin: auto;
    padding: 0 30px 30px 30px;
  }

  &__caption {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $color_grey_text;
    border-bottom: 4px solid $color_grey_separator;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }

  &__text {
    font-size: 14px;
    line-height: 22px;
    color: $color_black;
  }
}

@mixin bg-image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin list-number ($number){
  &::before {
    display: inline-block;
    content: $number;
    color: $color_accent;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-right: 10px;
  }
}

@mixin contact-form{
  .form {
    display: flex;
    flex-direction: column;
  
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      -webkit-box-shadow: 0 0 0 30px white inset !important;
    }
  
    input,
    textarea {
      resize: none;
      border-radius: 8px;
      padding: 15px;
      outline: none;
      border: 0;
      font-size: 16px;
      line-height: 26px;
      color: $color_grey_text;
      border: 1px solid transparent;
  
      &:focus {
        border-color: $color_active_regular;
      }
      &:valid {
        color: $color_black;
      }
      &:invalid {
        border-color: #ff0000;
        color: #ff0000;
      }
      &:disabled {
        background: $color_grey_bgalt;
      }
    }
    &__name {
      margin-bottom: 15px;
    }
    &__message {
      height: 130px;
    }
    &__caption {
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: $color_grey_text;
      padding-top: 30px;
      margin-bottom: 15px;
    }
    &__phone {
      margin-bottom: 15px;
    }
    &__email {
      margin-bottom: 30px;
    }
    &__button {
      padding: 18px;
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $color_white;
      background-color: $color_active_regular;
      box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
      transition: all 0.4s;
  
      &:hover {
        background-color: $color_active_hover;
        cursor: pointer;
      }
      &:active {
        background: $color_active_active;
      }
      &:visited {
        background: red;
      }
      &:disabled {
        background: #000;
      }
    }
    input[value="Send message"] {
      font-weight: 700;
      font-size: 16px;
      line-height: 20px;
      color: $color_white;
    }
  }
}